body {
    margin: 0;
    padding: 0;
    background: url('images/jaz-king-221365-unsplash.jpg');  
    background-size: cover;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
}

header{
  height: 110px;
  background-color: white;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: grey;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 30px;
}

p {
    color: gray;
    text-align: center;
    font-size: 14px;
}

a:hover {
  color: #0056b3; 
  text-decoration: none; 
}
form  {
  text-align: -webkit-center;
}

.upload {
  margin-top: 2px;
}

.start {
    justify-content: center;
}

input {
background-color: white;
}

.box
{
 max-width:600px;
 width:100%;
 margin: 0 auto;;
}

.table2 {
  table-layout: fixed;
  width: 50%;
  margin-left: 10px;
  float: left;
  font-size: 15px;
  background-color: transparent;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: grey;
}

.table2 thead {
  border-width: 0 0 1px 0;
  border-style: solid;
}
.table2 td {
  width: 25% ;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: grey;
}

.table1 {
  width: 25%;
  margin-left: 10px;
  float: left;
  font-size: 15px;
  background-color: white;
  border: 1px thin grey;
}

.table1 td {
  padding-left: 5px;
  border: 1px solid grey;

}

#payment-form {
  width: 50%;
  float: right;
}

.btn-primary {
  color: #fff;
  background-color: #324c68;
  border-color: #92adca;
}

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
 
  